@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration-thickness: 2px;
  text-decoration-color: white;
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(230, 240, 250);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 12px;
  gap: 50px;
  background-color: rgb(100, 50, 250);
  transition: 1s;
  z-index: 100;
}

.sidebarElement {
  display: flex;
  align-items: center;
  gap: 24px;
  width: fit-content;
  height: 24px;
  padding: 10px 12px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.sidebarElement i {
  width: 24px;
}

.sidebarElement span {
  display: none;
}

.sidebar:hover .sidebarElement span {
  display: block;
}

.sectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  z-index: 10;
  background-image: url("https://img.freepik.com/free-vector/internship-job-illustration_23-2148723003.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(100, 100, 100, 0.5);
  background-blend-mode: hue;
}

.section {
  float: right;
  width: calc(100% - 160px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 20px 24px;
  border-radius: 10px;
}
.home {
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(10px);
}

.homeHeader {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.homeLinks {
  display: flex;
  height: 60px;
  justify-content: space-around;
  gap: 100px;
  align-items: flex-end;
}

.aboutUs {
  display: none;
  gap: 24px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 10px #aaa;
  backdrop-filter: blur(5px);
}
.aboutHeader {
  width: auto;
  padding: 10px 20px;
  text-align: center;
}
.aboutUs h2 {
  font-size: x-large;
}
.aboutUs p {
  font-size: large;
}

.aboutHeader img {
  width: 100px;
  height: 100px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.contactUs {
  display: none;
  background-color: #fff;
  box-shadow: 0px 2px 10px #aaa;
  gap: 20px;
  color: #666;
  backdrop-filter: blur(5px);
}
.contactHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contactUs form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 12px 16px;
}

.inputElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputElement label {
  font-size: medium;
}
.input {
  box-sizing: border-box;
  width: 100%;
  font-size: large;
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(150, 150, 150);
  color: #777;
}

.input:focus {
  border: 1px solid rgb(100, 100, 100);
}

.submitBtn {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: large;
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(45deg, #fc3333, #ff5533);
  border-radius: 5px;
}

.guide {
  display: none;
  gap: 32px;
  backdrop-filter: blur(10px);
}

.guide div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.guide img {
  border-radius: 10px;
  width: 200px;
}

@media screen and (max-width: 800px) {
  .guide {
    width: 90%;
  }
  .guide img {
    width: 175px;
  }
}

@media screen and (max-width: 600px) {
  .contactHeader {
    flex-direction: column;
    gap: 16px;
  }
  .guide img {
    width: 150px;
  }
  .homeLinks {
    flex-direction: column;
    height: auto;
    gap: 20px;
    align-items: center;
  }
  .aboutUs p {
    font-size: medium;
  }
}
